In [1]:
import sys
sys.path.append("/Users/axl/Mispricing Model_Leviathan/leviathan-model")

from src.core.pipeline import run_pipeline

df = run_pipeline("austin")
df

   region        date   price  income  population  net_migration
0  austin  2015-01-01  250000   60000     1800000           3000

In [2]:
from src.core.pipeline import run_pipeline
df = run_pipeline("austin")
df.head()

   region        date   price  income  population  net_migration
0  austin  2015-01-01  250000   60000     1800000           3000

In [4]:
import os
os.getcwd()

'/Users/axl/Mispricing Model_Leviathan/leviathan-model'

In [5]:
import src.features.affordability as aff
aff.__file__

'/Users/axl/Mispricing Model_Leviathan/leviathan-model/src/features/affordability.py'

In [6]:
import importlib
import src.features.affordability as aff
importlib.reload(aff)

from src.features.affordability import attach_affordability_features

In [7]:
dir(aff)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'attach_affordability_features',
 'monthly_payment',
 'np',
 'pd']

In [8]:
df2 = attach_affordability_features(df)
df2.head()

,region,date,price,income,population,net_migration,dti,pti,rent_burden,supply_pressure,migration_pressure
0,austin,2015-01-01,250000,60000,1800000,3000,4.166667,NaN,NaN,NaN,0.001667